/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: #0ef1de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/todo-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 50% 50%;
} */
.App {
  font-size: 18px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  display: flex;
  position: relative;
  margin-left: 600px;
  margin-top: 400px;
}

#list {
  padding-left: 30em;
  padding-top: 3%;
  width: 460px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;

  margin-top: 5%;
}

.listItem {
  padding-left: 10%;
  padding-top: 2%;
  width: 460px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}

#itemContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}
.icon {
  cursor: pointer;
  padding: 10px;
  border: 1px solid red;
}
.checked {
  text-decoration: line-through;
}
.edit {
  display: none;
  width: 200px;
  position: absolute;
  left: 0;
  top: 15px;
}

.show {
  display: block;
}
